<app-banner></app-banner>

<nav class="navbar">

  <p>Vinoteca</p>

  <form class="d-flex w-50">
    <input class="form-control me-2 mb-3" type="search" placeholder="¿Que estas buscando?" aria-label="Search">
    <button class="btn btn-outline-light boton" type="submit">Buscar</button>
  </form>

  <ul class="opciones">
    <li class="opciones_item">
      <a href=""> <img src="../assets/carrito.png" class="icono_carrito"> </a>
    </li>
    <li class="opciones_item login">
      <a href=""><img src="../assets/acceso.png" class="icono_login"></a>
    </li>
  </ul>

</nav>




<router-outlet></router-outlet>